body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

#main_spot {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#main_spot ul {
  position: relative;
  left: 0;
}
#main_spot ul li {
  float: left;
  text-align: center;
}

#live_tag {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
  opacity: 0.3;
  font-family: "Museo Sans";
  font-size: 58px;
}